In [15]:
import pandas as pd
import os
import numpy as np

In [39]:
data_dir    = '../../../data/FashionDataSet/'
images_file = os.path.join(data_dir, 'train.csv' )

In [69]:
df_images = pd.read_csv(images_file, nrows=100000)

In [70]:
len(df_images)

100000

In [28]:
df_images_unique = df_images.drop_duplicates('ImageId')

In [65]:
len(df_images_unique)

1355

In [60]:
df_sub = df_images[df_images.ImageId=='059425c0a3d91f60cc10881809311513.jpg']

In [61]:
df_sub

,ImageId,EncodedPixels,Height,Width,ClassId
7438,059425c0a3d91f60cc10881809311513.jpg,145913 3 146932 8 147802 5 147951 13 148819 16...,1024,680,9_3_20_41_61_91
7439,059425c0a3d91f60cc10881809311513.jpg,145913 3 146932 8 147802 5 147951 13 148819 16...,1024,680,31
7440,059425c0a3d91f60cc10881809311513.jpg,380116 11 380243 24 381144 28 381241 73 382171...,1024,680,31
7441,059425c0a3d91f60cc10881809311513.jpg,224455 3 225473 9 226492 14 226533 3 227510 20...,1024,680,29
7442,059425c0a3d91f60cc10881809311513.jpg,305416 1 306440 3 307464 5 308488 7 309512 9 3...,1024,680,1_61
7443,059425c0a3d91f60cc10881809311513.jpg,305416 1 306440 3 307464 5 308488 7 309512 9 3...,1024,680,33
7444,059425c0a3d91f60cc10881809311513.jpg,272261 3 273285 8 274308 12 275321 3 275332 12...,1024,680,23
7445,059425c0a3d91f60cc10881809311513.jpg,175991 11 177011 16 178031 21 179052 25 180072...,1024,680,23

In [62]:
for mask in df_sub.iterrows():
    break

In [63]:
mask

(7438, ImageId                       059425c0a3d91f60cc10881809311513.jpg
 EncodedPixels    145913 3 146932 8 147802 5 147951 13 148819 16...
 Height                                                        1024
 Width                                                          680
 ClassId                                            9_3_20_41_61_91
 Name: 7438, dtype: object)

In [64]:
int(mask[1].ClassId.split('_')[0])+1

10